@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

body {
  background-color: #fff6da;
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* ----------------------------navbar css start------------------------------- */

nav {
  background-color: #fff0c1;
  display: block;
  border-bottom: 1px solid #000;
}

.nav-container {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-form-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container .nav-logo {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .nav-logo i {
  width: 29px;
  height: 39.9px;
  color: #889e73;
  font-size: 2rem;
}

.nav-title h1 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 24px;
  color: rgb(0, 0, 0);
  padding: 0.125em 0;
}

.underline {
  border-bottom: 3px solid #000;
  width: 100%;
}

.nav-form-account .nav-from-account-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav-form-account .nav-form-settings {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-form-account .nav-form-settings:active {
  background-color: #f4d793;
  border-radius: 50%;
}

.nav-form-account .nav-form-settings i {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: #ffffff;
  background-color: #a94a4a;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 36px;
  border-radius: 4px;
  transition: all 0.3s;
}

.button:hover {
  background-color: #f4d793;
  color: #000;
  transition: all 0.2s;
}

.button:active {
  background-color: #a94a4a;
  transition: all 0.2s;
}

/* --------------------------------------------navbar css end-------------------------------------------- */

/* --------------------------------------------sidebar css start-------------------------------------------- */

/* body-container-start */
.body-container {
  display: flex;
  gap: 20px;
  height: 100vh;
  /* overflow: visible; */
}
/* body-container-end */


.sidebar {
  width: 200px;
  height: calc(100% - 68px);
  display: flex;
  flex-direction: column;
  background-color: #fff0c1;
  padding: 20px;
  border-right: 1px solid #000;
}

.profile {
  display: flex;
  padding: 20px 0;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.profile-info h2 {
  font-size: 1.25rem;
  font-weight: 800;
  color: #000;
  margin-bottom: 0.25em;
}

.profile-info p {
  font-size: 0.6rem;
  color: #555;
}

.sidebar-buttons {
  height: calc(100% - 84.334px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

.page {
  flex: 1;
  height: calc(100% - 68px);
  overflow-y: scroll;
}

/* --------------------------------------------sidebar css end-------------------------------------------- */


/* survey list start */
.survey-list-container {
  flex: 1;
  padding: 20px;
}

.survey-list-header h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  text-decoration: underline;
}

.survey-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.survey-card {
  cursor: pointer;
  width: 200px;
  height: 120px;
  padding: 15px;
  background-color: #fff0c1;
  border: 1px solid #000;
  border-radius: 8px;
  transition: all 0.3s;
}


.response-card {
  background-color: #ddffdd;
}
.survey-card:hover {
  background-color: #fed36e;
}


.survey-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #a94a4a;
  margin-bottom: 10px;
}

.survey-card p {
  font-size: 0.6rem;
  color: #5d5d5d;
}
/* survey list end */

/* active button start */

.active {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.3rem;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #000;
  padding-top: 10px;
}

.active input {
  width: 30px;
  height: 15px;
  appearance: none;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.active input:checked {
  background-color: #a94a4a;
}

.active input::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  top: 2.5px;
  left: 2.5px;
  transition: transform 0.3s;
}

.active input:checked::before {
  transform: translateX(15px);
}

.active label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}


.active button {
  border: none;
  padding: 4px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active i {
  font-size: 1rem;
}


.active .delete i {
  color: rgb(254, 132, 132);             
}

.active .delete:hover i {
  color: #ff0000;  
}

.active .preview i {
  color: #5a5a5a; 
}

.active .preview:hover i {
  color: #000000; 
}

.active .delete:active i {
  color: #fff;
}

.active .preview:active i {
  color: #fff;
}
/* active button end */


.truncate-text {
  width: 150px;         
  white-space: nowrap;  
  overflow: hidden;    
  text-overflow: ellipsis;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  position: fixed;
  top: 80vh;
  left: 50%;
}



.pagination .current-page {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}