@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

body {
  background-color: #fff6da;
}

li {
  list-style: none;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

nav {
  background-color: #fff6da;
  display: block;
}

.nav-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-form-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container .nav-logo {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .nav-logo i {
  width: 29px;
  height: 39.9px;
  margin: 0 auto;
  color: #889e73;
  font-size: 2rem;
}

.nav-title h1 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 24px;
  color: rgb(0, 0, 0);
  padding: 0.125em 0;
}

.underline {
  border-bottom: 3px solid #000;
  width: 100%;
}

.nav-form-account .nav-from-account-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav-form-account .nav-form-settings {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-form-account .nav-form-settings:active {
  background-color: #f4d793;
  border-radius: 50%;
}

.nav-form-account .nav-form-settings i {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------------------------------------------------------------------- */
.nav-from-account-details .create,
.nav-from-account-details .discard,
.nav-from-account-details .top-validate {
  color: #ffffff;
  background-color: #a94a4a;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 36px;
  border-radius: 4px;
  transition: all 0.3s;
}

.nav-from-account-details .create:hover,
.nav-from-account-details .discard:hover,
.nav-from-account-details .top-validate:hover {
  background-color: #f4d793;
  color: #000;
  transition: all 0.2s;
}

.nav-from-account-details .create:active,
.nav-from-account-details .discard:active,
.nav-from-account-details .top-validate:active {
  background-color: #a94a4a;
  transition: all 0.2s;
}

.error {
  color: red;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------------------------------------- */
.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  /* width: 2.5rem; */
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border: 2px solid #a94a4a;
  display: none;
}

.add-question,
.delete-question {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #b6b6b6;
  cursor: pointer;
}

.add-question:hover,
.delete-question:hover {
  background-color: #848484;
}

.add-question:active,
.delete-question:active {
  background-color: #b6b6b6;
}

/* --------------------------------------------------------------------------------------------------------------- */
.form-body-container {
  padding-top: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1rem;
  margin-bottom: 20px;
}

.form-heading {
  padding: 14px 0 24px 0;
}

.container-box {
  width: 770px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 0 10px rgba(244, 215, 147, 0.5); */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.active-box {
  border: 2px solid #a94a4a;
  /* border-bottom: 6px solid #A94A4A; */
}

.form-heading input {
  width: 100%;
}

.active-box input {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.form-heading input:focus {
  width: 100%;
  border-bottom: 3px solid #a94a4a;
}

.form-heading-title-div,
.form-heading-discription-div {
  width: 100%;
  padding: 0 24px;
  margin: 8px 0;
}

.form-heading-title-input {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

/* --------------------------------------------------------------------------------------------------------------- */

.question-container {
  padding: 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.question-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
}

.question-selection textarea {
  flex: 4;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
  min-height: 50px;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
  overflow: hidden;
}

.question-type-selection-container {
  flex: 2;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 0.7rem 1rem;
  /* display: none; */
}

.question-type-selection-container i {
  color: rgba(0, 0, 0, 0.6);
}

/* .active-box .question-type-selection-container{
  display: block;
} */



.select-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.question-type {
  margin-right: 1rem;
}

.question-type i {
  margin-right: 10px;
}

.question-type-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.options .option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #f1f3f4;
  border-radius: 4px;
  padding-right: 4rem;
}

.options .option i {
  color: rgba(0, 0, 0, 0.6);
}

.options .option p {
  color: rgba(0, 0, 0, 0.6);
}

.options .option:hover {
  background-color: #d5d5d5;
}

.question-type-options,
.hidden {
  display: none;
}

.question-separator {
  padding: 8px 24px 0px 24px;
  /* background-color: black; */
  /* display: none; */
}

/* .active-box .question-separator {
  display: block;
} */

.question-selected-type-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.question-selected-type-container > * {
  flex-grow: 3;
}

.question-selected-type-container .question-constrains {
  flex-grow: 1;
  align-items: start;
}

.question-constrains {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  /* display: none; */
}

/* .active-box .question-constrains {
  display: flex;
} */

.question-container-footer {
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
  /* display: none */
}

/* .active-box .question-container-footer {
  display: flex;
  transition: all 0.3s;
} */

button.validate {
  color: #fff;
  background-color: #a94a4a;
  padding: 0.5rem 0.3rem;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s;
}

button.validate:hover {
  background-color: #e46161;
}

button.validate:active {
  background-color: #a94a4a;
}

.required {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.required input {
  width: 50px;
  height: 25px;
  appearance: none;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.required input:checked {
  background-color: #a94a4a;
}

.required input::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  top: 4.5px;
  left: 4.5px;
  transition: transform 0.3s;
}

.required input:checked::before {
  transform: translateX(25px);
}




.required label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:  0.3rem;
}
/* //--------------------------------------------------------------------------------------- */

.markdown-container {
  padding: 1rem;
}
.markdown-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding-bottom: 2rem;
  width: 80%;
}

.markdown-option input {
  width: 80%;
}

/* .markdown-option-close {
  display: none;
}

.active-box .markdown-option-close {
  display: block;
} */

.markdown-option input:focus {
  width: 80%;
  border-bottom: 3px solid #a94a4a;
}

/* .markdown-add-option {
  transition: all 0.3s;
  display: none;
} */

.markdown-add-option button {
  color: #1a73e8;
  margin-left: 10px;
}

/* .active-box .markdown-add-option {
  transition: all 0.3s;
  display: block;
} */

.paragraph-container > textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  background-color: transparent;
  resize: none;
}

.time-type-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.time-type {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.date-type-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date-type {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.number-range-type-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.number-range-type {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.file-image-type-container {
  padding: 1rem;
}

.file-image-type {
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
}


/* constrains 
 */

.min-length,
.max-length,
.min-selection,
.max-selection,
.min-value,
.max-value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.min-length input,
.max-length input,
.min-selection input,
.max-selection input,
.min-value input,
.max-value input {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.5rem;
  width: 80px;
  text-align: center;
}

.start-date input,
.end-date input {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
}

/* image type selection css for the upload image section */
.image-type-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}


.image-type-selection label {
  flex: 1 1 calc(50% - 0.5rem);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.image-type-selection input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.image-size {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.image-size label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.image-size input {
  width: 60px;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
}